/* преимущества */
.section-benefits {
	@extend %section;
}

.benefits-list {
	display: flex;
	justify-content: center;

	&-item {
		width: calc((100% - 30px * 3) / 4);
	}
	&-item + &-item {
		margin-left: 30px;
	}
	&-item .title {
		margin-bottom: 10px;
	}
}

.benefits-icon {
	height: 70px;
	width: 70px;
	justify-content: center;
	align-items: center;

	&-box {
		display: flex;
		height: 120px;
		background-color: #f5f4fa;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		margin-bottom: 30px;
	}
}

.benefits-text {
	line-height: 1.71;
}
