* {
	margin: 0px;
	padding: 0px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: roboto, sans-serif;
	background-color: $primary-white-color;
	color: $primary-text-color;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h3,
p {
	margin: 0;
}
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
%section {
	padding-top: 94px;
	padding-bottom: 94px;
}
